/* Created By */
.business-contact .small {
    font-size: 8px;
    color: darkgray;
    font-weight: lighter;
    text-align: right; 
}

.business-contact .small a {
    color: gray;
    font-weight: lighter;
}

/* Preloader */
.preloader {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    border: solid 3px;
    border-color: #555 #fff;
    -webkit-border-radius: 1000px;
    border-radius: 1000px;
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotate;
    -moz-animation-duration: 1.5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -o-animation-name: rotate;
    -o-animation-duration: 1.5s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
    animation-name: rotate;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.business-contact .bcw-tabs {
    display: none;
}

/* Navigation Styling */
.business-contact .bcw-tabs .ui-tabs-nav {
    padding: 0 !important;
}

.business-contact .bcw-tabs .ui-tabs-nav {
    background: none;
    border: 0px;
}

.business-contact .bcw-tabs .ui-tabs-nav li {
    display: inline;
    background-image: none;
    margin: 0px;
    padding: 0px;
    border-bottom-width: 1px;
    height: 38px;
    width: 38px;
    z-index: 10;
    /* Combability with 2013 theme */
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}



.business-contact .bcw-tabs .ui-tabs-nav li a {
    position: relative;    
    height: 38px !important;
    width: 38px !important;   
    margin: 0 !important;
    padding: 0 !important;
    outline:0;
}

.business-contact .bcw-tabs .ui-tabs-nav li a img {
    position: absolute;
    padding: 3px !important;
    margin: 0px;
    height: 32px !important;
    width: 32px !important;
    left: 0px !important;
    top: 0px !important; 
    z-index: 10;  
    box-shadow: none;
    /* Combability with 2013 theme */
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
} 

.business-contact .bcw-tabs .ui-tabs-nav li a img.grey {
    z-index: 30;
}

.business-contact .bcw-tabs .ui-tabs-nav li a img.colour {
    z-index: 20;
}

.business-contact .bcw-tabs .ui-tabs-nav li.ui-tabs-active a img.grey {
    display: none;
}

.business-contact .ui-corner-all,
.business-contact .ui-corner-top,
.business-contact .ui-corner-right,
.business-contact .ui-corner-tr {
    border-top-right-radius: 0px;
}

.business-contact .ui-corner-all,
.business-contact .ui-corner-top,
.business-contact .ui-corner-left,
.business-contact .ui-corner-tr {
    border-top-left-radius: 0px;
}

.business-contact .ui-corner-all,
.business-contact .ui-corner-bottom,
.business-contact .ui-corner-right,
.business-contact .ui-corner-tr {
    border-bottom-right-radius: 0px;
}

.business-contact .ui-corner-all,
.business-contact .ui-corner-bottom,
.business-contact .ui-corner-left,
.business-contact .ui-corner-tr {
    border-bottom-left-radius: 0px;
}

/* Content Styling */
.business-contact .bcw-tabs #bcw-email a {
    font-size: 0.9em;
}

.business-contact .bcw-tabs form input,
.business-contact .bcw-tabs form textarea {
    width: 90%;
}

.business-contact .bcw-tabs p {
    text-align: right;
    margin-bottom: 0.5em;
}

.business-contact .bcw-tabs strong {
    text-align: left;
    display: block;
    width: 100%;
}

.business-contact .bcw-tabs form p {
    text-align: left;
}