/*  Copyright 2014 StressFree Sites  (info@stressfreesites.co.uk : alex@stressfreesites.co.uk)

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License, version 3, as 
    published by the Free Software Foundation.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
*/

/*************** 
 *
 *   Preloader 
 *
 ***************/
.business-contact .preloader {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    border: solid 3px;
    border-color: #BBB #000;
    -webkit-border-radius: 1000px;
    border-radius: 1000px;
    -webkit-animation:spin 3s linear infinite;
    -moz-animation:spin 3s linear infinite;
    animation:spin 3s linear infinite;
}

@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}

@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}

@keyframes spin { 
    100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 
}

.business-contact {
    position: relative;
    min-height: 100px;
}

.business-contact .bcw-tabs {
    display: none;
}

/*************** 
 *
 *   Vertical Tabs Styling 
 *
 ***************/

.business-contact  .ui-tabs-vertical .ui-tabs-nav { 
    padding: .2em .1em .2em .2em; 
    float: left; 
}

.business-contact  .ui-tabs-vertical .ui-tabs-nav li { 
    clear: left; 
    width: 100%; 
    border-bottom-width: 1px !important; 
    border-right-width: 0 !important; 
    margin: 0 -1px .2em 0; 
}

.business-contact  .ui-tabs-vertical .ui-tabs-nav li a { 
    display:block; 
}

.business-contact  .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { 
    padding-bottom: 0; 
    padding-right: .1em; 
    border-right-width: 1px; 
    border-right-width: 1px; 
}

.business-contact  .ui-tabs-vertical .ui-tabs-panel { 
    padding: 1em; 
    float: right; 
}
  

/*************** 
 *
 *   Navigation Styling 
 *
 ***************/
.business-contact .bcw-tabs.ui-widget {
    border: 0px;    
}

.business-contact .bcw-tabs .ui-tabs-nav {
    background: none;
    border: 0px;
    padding: 0 !important;
    margin: 0 !important;
}

.business-contact .bcw-tabs .ui-tabs-nav li {
    display: inline;
    background-image: none;
    margin: 0px;
    padding: 0px;
    border-bottom-width: 1px;
    /* Combability with 2013 theme */
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.business-contact .bcw-tabs .ui-tabs-nav li.large {
    height: 38px;
    width: 38px;
}

.business-contact .bcw-tabs .ui-tabs-nav li.medium {
    height: 32px;
    width: 32px;
}

.business-contact .bcw-tabs .ui-tabs-nav li.small {
    height: 26px;
    width: 26px;
}

.business-contact .bcw-tabs .ui-tabs-nav li a {
    position: relative;     
    margin: 0 !important;
    padding: 0 !important;
    outline:0;
}

.business-contact .bcw-tabs .ui-tabs-nav li a img {
    display: block;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    padding: 3px !important;
    margin: 0px;
}

.business-contact .bcw-tabs .ui-tabs-nav li a img.colour {
    position: absolute;
    left: 0px !important;
    top: 0px !important;   
    box-shadow: none;
    /* Combability with 2013 theme */
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
} 

.business-contact .bcw-tabs .ui-tabs-nav li.large a img {
    height: 32px !important;
    width: 32px !important;    
}

.business-contact .bcw-tabs .ui-tabs-nav li.medium a img {
    height: 26px !important;
    width: 26px !important;    
}

.business-contact .bcw-tabs .ui-tabs-nav li.small a img {
    height: 20px !important;
    width: 20px !important;    
}

.business-contact .bcw-tabs .ui-tabs-nav li img.colour {
    opacity: 0;
}

.business-contact .bcw-tabs .ui-tabs-nav li img.grey {
    opacity: 1;
}

.business-contact .bcw-tabs .ui-tabs-nav li.ui-state-active img.colour {
    opacity: 1;
}

.business-contact .bcw-tabs .ui-tabs-nav li.ui-state-active img.grey {
    opacity: 0;
}

.business-contact .ui-corner-all,
.business-contact .ui-corner-top,
.business-contact .ui-corner-right,
.business-contact .ui-corner-tr {
    border-top-right-radius: 0px;
}

.business-contact .ui-corner-all,
.business-contact .ui-corner-top,
.business-contact .ui-corner-left,
.business-contact .ui-corner-tr {
    border-top-left-radius: 0px;
}

.business-contact .ui-corner-all,
.business-contact .ui-corner-bottom,
.business-contact .ui-corner-right,
.business-contact .ui-corner-tr {
    border-bottom-right-radius: 0px;
}

.business-contact .ui-corner-all,
.business-contact .ui-corner-bottom,
.business-contact .ui-corner-left,
.business-contact .ui-corner-tr {
    border-bottom-left-radius: 0px;
}

/*************** 
 *
 *   Content Styling 
 *
 ***************/
.business-contact .ui-widget-content {
    color: inherit;
    font-family: inherit;
}

.business-contact .bcw-tabs .ui-tabs-panel {
    padding: 5px;
}

.business-contact .bcw-tabs .ui-tabs-panel h4 {
    text-align: left;
    margin-top: 0px;
}

.business-contact .ui-widget-content a {
    color: inherit; 
    font-family: inherit;
}

.business-contact .bcw-tabs #bcw-email a {
    font-size: 0.9em;
}

.business-contact .bcw-tabs .ui-tabs-panel p {
    text-align: right;
    margin-bottom: 0.5em;
}

.business-contact .bcw-tabs .ui-tabs-panel strong {
    text-align: left;
    display: block;
    width: 100%;
}

.business-contact .bcw-tabs .ui-tabs-panel form p {
    text-align: left;
}

.business-contact .bcw-tabs .ui-tabs-panel form input,
.business-contact .bcw-tabs .ui-tabs-panel form textarea {
    width: 90%;
}

/*************** 
 *
 *   Created By 
 *
 ***************/
.business-contact .small {
    font-size: 8px;
    color: darkgray;
    font-weight: lighter;
    text-align: right; 
}

.business-contact .small a {
    color: gray;
    font-weight: lighter;
}