/* Admin pages */
.bcw-admin-title{
    display: inline;
    margin-left: 10px;
}

.wrap h2, .wrap form, .wrap div.updated, .wrap div.error, .media-upload-form div.error {
    margin-right: 150px;
}

.created-by{
    float: right;
    padding: 10px;
    text-align: center;
    background-color: #f0f0f0;
    border: 1px solid #CCCCCC;
}

.links{
    padding-top: 17px;
}