/* Created By */
.business-contact .small{
    font-size: 8px;
    color: darkgray;
    font-weight: lighter;
    text-align: right; 
}

.business-contact .small a{
    color: gray;
    font-weight: lighter;
}

.business-contact #bcw-email a{
    font-size: 10px;
}

/* Main Styling */
.business-contact .ui-tabs-nav{
    padding: 0 !important;
}

.business-contact .ui-tabs-nav li{
    display: inline;
    background-image: none !important;
    margin: 0 !important;
    padding: 1px !important;
    height: 36px !important;
    width: 36px !important;
    z-index: 10 !important;
}

.business-contact .ui-tabs-nav li.contact-tab{
    width: 70px !important;
}

.business-contact .ui-tabs-nav li a{
    height: 36px !important;
    width: 36px !important;   
    margin: 0 !important;
    padding: 0 !important;
}

.business-contact .ui-tabs-nav .contact-tab a{
    padding: 10px 5px 12px 2px !important;
    font-size: 15px !important;
    font-weight: bold !important;
}

.business-contact .ui-tabs-nav .contact-tab a:hover{
    text-decoration: none !important;
    color: #42C0FB;
}

.business-contact .ui-tabs-nav img{
    padding: 2px;
    margin: 0px;
    height: 32px !important;
    width: 32px !important;
} 

.business-contact .ui-state-active canvas{
    visibility: hidden !important;
}

.business-contact .ui-tabs-nav .greyscale {
    position: relative;
    left: 0px;
}

.business-contact canvas.gsCanvas{
    left: 2px !important;
    top: 2px !important;
    z-index: 20;
}
